/* #mainPopup {
  padding: 10px;
  width: 300px;
  text-align: center;
}

#notOnMeet {
  padding: 10px;
  width: 300px;
  text-align: center;
} */

body {
  min-height: 28rem;
  width: 20rem;
  /* border: 1px solid black; */
  text-align: center;
  padding: 2rem;
}

.login,
.dropdown {
  text-align: left;
}

.round {
  border-radius: 2rem;
}

.error-para {
  position: absolute;
  top: 2rem;
  width: 16rem;
  white-space: normal;
}

