/* #mainPopup {
  padding: 10px;
  width: 300px;
  text-align: center;
}

#notOnMeet {
  padding: 10px;
  width: 300px;
  text-align: center;
} */

body {
  position: relative;
  min-height: 28rem;
  min-width: 20rem;
  /* border: 1px solid black; */
  text-align: center;
  padding: 2rem;
}

.attendancePopup {
  height: 100%;
}

.login,
.dropdown {
  text-align: left;
}

.round {
  border-radius: 2rem;
}

a.btn {
  color: #0056b3;
}

.error-para {
  position: absolute;
  top: 2rem;
  width: 16rem;
  white-space: normal;
}

.spinner {
  position: absolute;
  top: 40%;
  left: 40%;
  translate: (-40%, -40%);
}

.spinner-border {
  width: 4rem;
  height: 4rem;
  border: 1rem solid currentColor;
  border-right-color: transparent;
}

.spinner-attn {
  margin: 3.57rem 0;
}

.present {
  margin-bottom: 4.46rem;
}